@use "./variables" as *;
@use "modern-normalize/modern-normalize.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: $primary-color-app;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 30vw; /* Ajusta el ancho del logo al 30% del ancho del viewport */
  height: auto; /* Mantiene la proporción del logo */
}

/* Ejemplo de media query para pantallas pequeñas */
@media (max-width: $bp-mobile) {
  .app-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    width: 20vw; /* Ajusta el ancho del logo al 20% del ancho del viewport en pantallas pequeñas */
  }
}
