.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0; // por debajo del Hero
}

.blob {
  position: absolute;
  width: 30vw; // se escala con el ancho del viewport
  max-width: 400px; // no crecerá demasiado en pantallas grandes
  min-width: 120px; // ni será ridículamente pequeño
  opacity: 1;
  pointer-events: none;
  z-index: 5;
  animation: blobFloat 6s ease-in-out infinite;
}

.blob1 {
  top: 10%;
  left: 1%;
}

.blob2 {
  top: 10%;
  right: 1%;
}

.blob3 {
  bottom: 5%;
  left: 1%;
}
.blob4 {
  bottom: 5%;
  right: 1%;
}

@keyframes blobFloat {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(5px, -5px) scale(1.02) rotate(2deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}
.noise-overlay {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120vw;
  height: 120vh;
  background-repeat: repeat;
  background-size: 150px;
  pointer-events: none;
  z-index: 15;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.noiseA {
  z-index: 15;
}

.noiseB {
  z-index: 16; // está por encima para que se solapen bien
}
