.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: linear-gradient(-45deg, #797979, #1a1a1a, #636363, #161616);
  background-size: 400% 400%;
  animation: gradientBG 25s ease infinite;

  opacity: 0.65;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
