@use "./variables" as *;
@use "./mixins" as *;
.footer {
  text-align: center;
  background-color: var(--footer-bottom-bg);
  color: var(--text-color);
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 100;

  &__title {
    font-size: 1.8rem;
    margin: 0.5rem;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    margin: 0;

    a {
      color: var(--accent-color);
      //transition: transform 0.2s ease, color 0.2s ease;

      &:hover {
        transform: scale(1.2);
        color: var(--hover-color);
      }
    }
  }

  &__bottom {
    font-size: 0.9rem;
    opacity: 0.8;
    background-color: var(--footer-bottom-bg);
    padding: 1rem;

    p {
      margin: 0.3rem 0;
    }
  }

  @include respond(mobile) {
    .footer__title {
      font-size: 1.5rem;
    }

    .footer__subtitle {
      font-size: 0.9rem;
    }

    .footer__icons {
      gap: 1rem;
      font-size: 1.5rem;
    }

    .footer__bottom {
      font-size: 0.75rem;
      padding: 0.5rem;
    }
  }
}
