@use "./variables" as *;
@use "./mixins" as *;
.footer {
  text-align: center;
  //padding: 2rem 1rem;
  background-color: $primary-color-hero;
  color: var(--text-color);
  width: 100%;
  height: auto;
  margin: 0 auto;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: $accent-color;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    a {
      color: $accent-color;
      transition: transform 0.2s ease, color 0.2s ease;

      &:hover {
        transform: scale(1.2);
        color: $hover-color;
      }
    }
  }

  &__bottom {
    font-size: 0.9rem;
    opacity: 0.8;
    background-color: $primary-color-app;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.85rem;
    opacity: 0.7;

    p {
      margin: 0.3rem 0;
    }
  }
}
