@use "./variables" as *;

.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color-hero;
  color: white;
  position: relative;

  .container {
    text-align: start;
  }

  .hero-greeting {
    font-size: 2vw; /* Ajusta el tamaño del texto al 2% del ancho del viewport */
    margin-bottom: 2rem; /* Ajusta el margen inferior */
  }

  .hero-name {
    font-size: 4vw; /* Ajusta el tamaño del texto al 4% del ancho del viewport */
    font-weight: bold; /* Ajusta el peso de la fuente */
  }

  .hero-title {
    font-size: 2vw; /* Ajusta el tamaño del texto al 2% del ancho del viewport */
    color: $secondary-color-hero; /* Ajusta el color del texto */
  }

  .highlight {
    color: $highlight-color-hero;
  }

  .logo {
    max-height: 70%;
    margin-right: 5vw;
  }

  /* Ejemplo de media query para pantallas pequeñas */
  @media (max-width: $bp-mobile) {
    .hero-greeting {
      font-size: 4vw; /* Ajusta el tamaño del texto al 4% del ancho del viewport en pantallas pequeñas */
    }

    .hero-name {
      font-size: 6vw; /* Ajusta el tamaño del texto al 6% del ancho del viewport en pantallas pequeñas */
    }

    .hero-title {
      font-size: 3vw; /* Ajusta el tamaño del texto al 3% del ancho del viewport en pantallas pequeñas */
    }

    .logo {
      width: 20vw; /* Ajusta el ancho del logo al 20% del ancho del viewport en pantallas pequeñas */
    }
  }
}
