@use "./variables" as *;
@use "./mixins" as *;

.navbar {
  font-family: $font-family-navbar;
  width: 100%;
  padding: 0rem 0.8rem;
  background-color: var(--navbar-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  // efecto al hacer scroll (puedes agregar una clase JS luego)
  &.scrolled {
    background-color: var(--navbar-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
.navbar-lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  flex-wrap: wrap;

  button {
    margin-left: 0.2rem;
    padding: 0.1rem 0.6rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  max-height: 5em;
  max-width: 5em;
  min-width: 4em;
  height: auto;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  user-select: none;
  pointer-events: auto;
  margin-top: -1rem;
  object-position: center top;
  // Para que no se pueda pulsar el logo en ningún navegador
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
}

@keyframes vibrate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(-1.5px, 1.5px) rotate(-1deg);
  }
  30% {
    transform: translate(1.5px, -1.5px) rotate(1deg);
  }
  45% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  75% {
    transform: translate(-2.5px, 2.5px) rotate(-1deg);
  }
  90% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.navbar-logo--vibrate {
  animation: vibrate 0.3s linear 3;
}
.navbar-menu {
  display: flex;
  justify-content: flex-end;
  gap: 1.7rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;

    a {
      display: inline-block; // asegúrate de que pueda expandirse
      padding: 0.5rem 1rem; // espacio clicable arriba/abajo y laterales
      border-radius: 0.5rem; // opcional: suaviza el borde al hacer hover
      color: var(--text-color);
      text-decoration: none;
      font-weight: 700;
      font-size: 1.1rem;

      &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: var(--hover-color);
        transition: width 0.3s ease;
        position: absolute;
        bottom: 4px; // ajusta si se descoloca al aumentar el padding
        left: 0;
      }

      &:hover {
        color: var(--hover-color);
        background-color: rgba(
          var(--background-navbar-button),
          0.05
        ); // opcional

        &::after {
          width: 100%;
        }
      }

      &.active {
        color: var(--hover-color);

        &::after {
          width: 100%;
        }
      }
    }
  }
}
