@use "./variables" as *;
@use "./mixins" as *;

.navbar {
  font-family: $font-family-navbar;
  width: 100%;
  padding: 0rem 2rem;
  background-color: $navbar-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease;

  // efecto al hacer scroll (puedes agregar una clase JS luego)
  &.scrolled {
    background-color: $background-dark;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
.navbar-lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  flex-wrap: wrap;

  button {
    margin-left: 0.2rem;
    padding: 0.1rem 0.6rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  max-height: 5em;
  height: auto;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;

  margin-top: -1rem; // o ajusta el valor según lo que necesites
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;

    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.1rem;
      transition: color 0.3s ease;

      // underline animado
      &::after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: $navbar-hover-color;
        transition: width 0.3s ease;
        position: absolute;
        bottom: -4px;
        left: 0;
      }

      &:hover {
        color: $navbar-hover-color;

        &::after {
          width: 100%;
        }
      }

      // estilo activo
      &.active {
        color: $navbar-hover-color;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
