@use "./variables" as *;
.projects {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color); // o tu color base
  color: var(--text-color);
  padding: clamp(2rem, 1rem + 2vw, 6rem);
  z-index: 1;
  position: relative; // NECESARIO para que el background se posicione dentro

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    z-index: 1;
  }

  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff;
    opacity: 0.6;
  }

  &__item {
    gap: clamp(0.25rem, 0.15rem + 0.4vw, 0.5rem);
    font-size: clamp(1.8rem, 1.2rem + 2vw, 3rem);

    &:hover,
    &.active {
      .projects__number,
      .projects__name {
        color: var(--projects-number-techs-color);
      }

      /* Rellena sólo la línea de tech del item hovered */
      .projects__tech {
        background-size: 100% 100%;
      }
    }
  }

  &__number {
    font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
    color: var(--projects-tech-color);
    margin-right: 1rem;
  }
  /* ---------- TEXTO DE TECNOLOGÍAS ---------- */
  &__tech {
    font-weight: 600;
    font-size: clamp(0.9rem, 0.7rem + 0.8vw, 1.1rem);
    color: var(--projects-tech-color);
    position: relative;
    line-height: 1.3;
  }

  /* ---------- HOVER / ACTIVE -------------- */
  .tech-char {
    transition: color 0.1s ease;
  }

  /* Al hacer hover en el ítem, todas las letras cambian a morado */
  &__item:hover .tech-char,
  &__item.active .tech-char {
    color: var(--projects-number-techs-color);
  }

  &__preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    min-width: 500px;
    height: 100%;
  }
  &__image {
    position: fixed;
    right: 5vw;
    opacity: 0;
    pointer-events: none;
    width: 40vw; // ✅ ancho relativo al viewport
    max-width: 650px;
    min-width: 270px;
    height: auto; // ✅ altura automática según proporción
    border-radius: 1rem;
    box-shadow: 0 0 30px $projects-box-shadow;
    object-fit: contain;
    transform: translateY(0) scale(0.97);
    transition: opacity 0.6s ease, top 0.6s ease, transform 0.6s ease;
    z-index: 20;
  }

  &__image.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  .projects__name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      cursor: pointer;
      color: $navbar-hover-color; // o cualquier color que quieras usar para el hover
    }
  }
}
