@use "./variables" as *;
.projects {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color); // o tu color base
  color: var(--text-color);
  padding: 3rem 6rem;
  z-index: 1;
  position: relative; // NECESARIO para que el background se posicione dentro

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff;
    opacity: 0.6;
  }

  &__item {
    gap: 0.05rem;
    font-size: 3rem;
    font-weight: 700;
    //color: var(--text-color);
    transition: color 0.3s ease;
    will-change: color;
    z-index: 1;

    &.active,
    &:hover {
      .projects__number,
      .projects__name {
        color: $navbar-hover-color;
      }
    }

    &:hover {
      .projects__tech::after {
        width: 100%;
      }
    }
  }

  &__number {
    font-size: 1.3rem;
    color: var(--projects-tech-color);
    margin-right: 1rem;
  }
  &__tech {
    font-size: 1.1rem;
    color: var(--projects-tech-color); // gris base
    position: relative;
    overflow: hidden; // corta la pseudocapa
    line-height: 1.2; // por estética

    &::after {
      content: attr(data-text); // clona el texto
      position: absolute;
      inset: 0; // ocupa todo
      white-space: nowrap;
      color: $projects-number-techs-color; // morado
      width: 0; // parte visible = 0 %
      overflow: hidden;
      pointer-events: none;
      transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item:hover .projects__tech::after,
  &__item.active .projects__tech::after {
    width: 100%;
  }
  &__item:hover,
  &__item.active {
    .projects__number,
    .projects__name {
      color: $navbar-hover-color;
    }
  }

  &__preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    min-width: 500px;
    height: 100%;
  }
  &__image {
    position: fixed;
    right: 5vw;
    opacity: 0;
    pointer-events: none;
    width: 40vw; // ✅ ancho relativo al viewport
    max-width: 650px;
    min-width: 300px;
    height: auto; // ✅ altura automática según proporción
    border-radius: 1rem;
    box-shadow: 0 0 30px $projects-box-shadow;
    object-fit: contain;
    transform: translateY(0) scale(0.97);
    transition: opacity 0.6s ease, top 0.6s ease, transform 0.6s ease;
    z-index: 20;
  }

  &__image.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  .projects__name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      cursor: pointer;
      color: $navbar-hover-color; // o cualquier color que quieras usar para el hover
    }
  }
}
@keyframes fillText {
  0% {
    background-size: 0% 100%;
  }
  30% {
    background-size: 20% 100%;
  }
  60% {
    background-size: 50% 100%;
  }
  80% {
    background-size: 80% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
