.projects {
  width: 100vw;
  min-height: 100vh;
  background-color: #0a0a0a; // o tu color base
  color: white;
  padding: 4rem 6rem;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff;
    opacity: 0.6;
  }

  &__item {
    font-size: 3rem;
    font-weight: 700; // siempre
    color: #444;
    transition: color 0.3s ease;
    will-change: color;

    &.active {
      color: #00ff99;
    }
  }

  &__number {
    font-size: 1.2rem;
    color: #666;
    margin-right: 1rem;
  }

  &__tech {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #999;
  }

  &__preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    //min-width: 550px;
    //height: 350px;
    flex: 1;
    position: relative;
    min-width: 500px;
    height: 100%;
  }
  &__image {
    position: absolute;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 500px;
    aspect-ratio: 16 / 10;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 255, 153, 0.3);
    object-fit: cover;
    transition: opacity 0.3s ease, top 0.3s ease;
  }

  &__image.visible {
    opacity: 1;
  }
}
