@use "./variables" as *;
.skills-sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  scroll-margin-top: 100px;

  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--sphere-bg);
    border: 1px solid $sphere-border;
    box-shadow: 0 0 15px $sphere-box-shadow;
    cursor: default !important;
  }

  a,
  img {
    pointer-events: none !important;
    user-select: none !important;
    cursor: default !important;
  }

  a {
    text-decoration: none;
    outline: none;
  }

  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
}
