.skills-sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(162, 89, 255, 0.2);
    cursor: default !important;
  }

  a,
  img {
    pointer-events: none !important;
    user-select: none !important;
    cursor: default !important;
  }

  a {
    text-decoration: none;
    outline: none;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
